html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2ced8;
}

#container{
   
}

#time{
    display: flex;
    justify-content: center;
}
span{
    font-size: 4rem;
}

#enterGroup{
    display: flex;
    justify-content: center;
}

.spaces{
    margin: 2rem;
}
button{
    font-size: 4rem;
    border-radius: 0.8rem;
    border: none;
}
button:hover{
    background-color: #000;
    color: #f2ced8;
    cursor: pointer;
}